{% extends "base.html.twig" %}
{% block title %}saison de la série # {{ program.title }} {% endblock %}
	


{% block body %}
	<div>
		<div
			class="media-body">

				<h2>Saison {{ season.id }} de la série: {{ program.title }}</h2>
			
				<a href="{{ path('program_show', {id:program.id}) }}">Voir la fiche série</a>

			    <h2>Liste des épisodes</h2>
                <ul>
           
                    {% for episode in season.episodes %}
                        <li>
                            <p>Episode {{ episode.number }}: {{episode.title}} </p>
                            <p>{{episode.synopsis}}</p>
							<a href="{{ path('program_episode_show', {programId:program.id, seasonId:season.id, episodeId:episode.id}) }}">Voir la fiche épisode</a>
                        </li>

                    {% endfor %}
                </ul>

		</div>
	</div>

	<a href="{{ path('program_index')}}">
		Retour à la liste des programmes
	</a>

{% endblock %}
